@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 .about {
	 position: relative;
	 top: 0;
	 padding-top: 3em;
	 background-color: #000;
}
 .about__container {
	 position: relative;
	 top: 0;
	 padding: 2% 5%;
	 color: #fff;
}
 .about__header {
	 position: relative;
	 top: 0;
	 text-align: left;
	 font-family: 'RedWingBold';
	 font-weight: bolder;
	 letter-spacing: 0.2em;
	 text-transform: uppercase;
	 font-size: 2em;
	 color: #fff;
}
 .about__header::after {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 content: '';
	 width: 10%;
	 height: 0.05em;
	 background-color: #0ff;
}
 .about__header h1 span {
	 position: relative;
}
 .about__heading h1 {
	 position: relative;
	 display: inline-block;
}
 @keyframes aboutHeadingAnimation {
	 0% {
		 left: 0;
		 font-size: 2em;
	}
	 100% {
		 left: -43%;
		 font-size: 0.7em;
		 letter-spacing: 0.05em;
		 color: #fff;
	}
}
 .about__details-container {
	 position: relative;
	 top: 0;
	 padding: 0 2em;
	 padding-top: 10%;
	 display: flex;
	 justify-content: space-evenly;
	 align-items: flex-start;
}
 .about__details {
	 position: relative;
	 top: 0;
	 width: 28vw;
}
 .about__details a {
	 text-decoration: none;
	 color: #fff;
}
 .about__details a h1 {
	 position: absolute;
	 top: -0.75em;
	 left: -0.3em;
	 font-family: 'RedWingBold';
	 letter-spacing: 0.1em;
	 font-size: 8em;
	 font-weight: 900;
	 z-index: 1;
	 color: #212020;
}
 .about__details a h1 span {
	 -webkit-text-stroke: 1px #212020;
	 color: #000;
}
 .about__details a h2 {
	 position: relative;
	 z-index: 2;
	 font-family: 'RedWingBold';
	 letter-spacing: 0.1em;
	 font-weight: 200;
	 font-size: 2em;
	 color: #fff;
}
 .about__details a h2 span {
	 color: #000;
	 -webkit-text-stroke: 1px #000;
}
 .about__details a h2 span:hover {
	 animation: hoverAnimation 1s ease-in-out;
	 animation-fill-mode: forwards;
}
 .about__details a p {
	 font-weight: lighter;
	 max-width: 100%;
	 min-width: 16em;
	 position: relative;
	 z-index: 2;
	 padding-right: 3em;
}
 .about__details a p span:nth-child(1) {
	 font-weight: 400;
	 margin-bottom: 0.3em;
	 display: inline-block;
}
 .about__details a ul {
	 font-weight: lighter;
	 max-width: 100%;
	 min-width: 16em;
	 position: relative;
	 z-index: 2;
	 padding-right: 3em;
}
 .about__details a ul li {
	 list-style: none;
}
 .about__details a ul li span {
	 font-weight: 400;
}
 .about__details:nth-child(even) {
	 margin-top: 15em;
}
 @media screen and (max-width: 1179px) {
	 .about__details {
		 margin-top: 2em;
		 width: 100%;
	}
	 .about__details a p {
		 padding-right: 0;
	}
}
 @media screen and (max-width: 1154px) {
	 .about__details-container {
		 overflow-x: scroll;
		 justify-content: unset;
		 padding-bottom: 3em;
	}
	 .about__details-container::-webkit-scrollbar {
		 height: 0.1em;
		 width: 0.1em;
	}
	 .about__details-container::-webkit-scrollbar-track {
		 background: #555;
	}
	 .about__details-container::-webkit-scrollbar-thumb:horizontal {
		 background-color: #0ff;
		 border-radius: 10px;
	}
}
 @media screen and (max-width: 1179px) {
	 .about__details a h1 {
		 font-size: 5em;
	}
	 .about__details a h2 {
		 font-size: 1.5em;
	}
	 .about__details a p {
		 font-size: 0.87em;
	}
	 .about__details a ul {
		 font-size: 0.87em;
	}
}
 @media screen and (max-width: 768px) {
	 .about__header {
		 font-size: 1.33em;
	}
}
 @keyframes hoverAnimation {
	 0% {
		 color: #000;
	}
	 100% {
		 color: #fff;
	}
}